body {
	background-color: $offwhite;
	font-family: itc-avant-garde-gothic-pro, sans-serif;
}

p {
	font-weight: $book;
}

h1, h2, h3, h4 {
	font-weight: $bold;
}

h1 {
	font-size: $base-size * 2.16;
}

h2 {
	font-size: $base-size * 1.72;
}

h3 {
	font-size: $base-size * 1.38;
}

h4 {
	font-size: $base-size * 1.2; 
}