footer {
	@media screen and (min-width: 40em) {
	display: grid;
	grid-template-columns: $twelvecol;
	}
	background-color: $offblack;
	color: $offwhite;
	padding: $padding-norm;
}

.contact {
	@media screen and (min-width: 40em) {
		grid-column: 2 / span 4;
	}
}

.socmed {
	@media screen and (min-width: 40em) {
		grid-column: 10 / span 4;
	}
}

.contactForm {
	@media screen and (min-width: 40em) {
		grid-column: 4 / span 6;
	}
	label {
		color: $offwhite !important;
	}

	.button {
		color: $offblack;
		background-color: $offwhite;
	}

	textarea {
		height: 10em;
	}
}