.section-5 {
	display: grid;
	grid-template-columns: $twelvecol;
	margin: $sect-margins;
}

.purchase {
	grid-column: 1 / span 12;
	grid-row: 1;
	color: $offwhite;
	background-color: $offblack;
	padding: 3em;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;

	.centerthis {
		grid-column: 1 / span 2;
		width: 100%;
		align-self: center;
		justify-self: center;
		padding: 0;
	}
	
	button {
		background-color: $offwhite;
		color: $offblack;
	}
}

.sec5-img1 {
	grid-column: 7 / span 6;
	grid-row: 1;
	
	img {
		object-fit: cover;
	}
}
