.section-6 {
	@media screen and (min-width: 40em) {
		display: grid;
		grid-template-columns: $twelvecol;
		margin: $sect-margins;
	}
}

.sec6-img1 {
	display: none;
	@media screen and (min-width: 40em) {
		grid-column: 1 / span 6;
		grid-row: 1;

		display: block;
		img {
			object-fit: cover;
		}
	}
}

.newsletter {
	
	padding: 3em;

	@media screen and (min-width: 40em) {
		grid-column: 7 / span 6;
		grid-row: 1;
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;

		.centerthis {
			width: 100%;
			align-self: center;
			justify-self: center;
			padding: 0;
		}
	}

	button {
		background-color: $offblack;
		color: $offwhite;
	}
}