.section-2 {
	display: grid;
	grid-template-columns: $twelvecol;
	grid-gap: $ggap;
	margin: $sect-margins;
}

.prodfeats {
	grid-column: 5 / span 4;
	grid-row: 1;
	z-index: 1;
	background-color: $offblack;
	color: $offwhite;
	padding: .75em;

	display: grid;
	grid-template-columns: 1em;
	width: 100%;

	.centerthis {
		width: 100%;
		align-self: center;
		padding: 0;
	}
}

.two-1 {
	grid-column: 1 / span 6;
	grid-row: 1;
	object-fit: cover;
}

.sec2-img2 {
	object-fit: cover;
	grid-column: 7 / span 6;
	grid-row: 1;
}