.section-6 {
	display: grid;
	grid-template-columns: $twelvecol;
	grid-gap: $ggap;
	margin: $sect-margins;
}

.sec6-img1 {
	grid-column: 1 / span 6;
	grid-row: 1;
}

.newsletter {
	grid-column: 7 / span 6;
	grid-row: 1;
	
	padding: 2em;

	display: grid;
	grid-template-columns: 1fr;
	width: 100%;

	.centerthis {
		width: 100%;
		align-self: center;
		justify-self: center;
		padding: 0;
	}

	button {
		background-color: $offblack;
		color: $offwhite;
	}
}