// Colours
$offblack: #373836;
$steel: #C0C3C8;
$offwhite: #f1f2f2;

// Grid repeats
$twelvecol: repeat(12, 1fr);

// spacings
$sect1stmargin: 0 2em 0 2em;
$sect-margins:  -.05em 2em 0 2em;
$clear-sec-margin: 2em 2em 0 2em;

$padding-norm: 2em 2em 2em 2em;

// Fonts
$bold: 700;
$book: 300;

$base-size: 18px;